body {
    background: black;
    color: white;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

p {
    text-align: justify;
}

a {
    background-color: red;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#rss {
    background-color: orange;
}

.navList li {
    margin-bottom: 1em;
}

.spoiler {
    background-color: white;
}
.spoiler:hover, .spoiler:active {
    background-color: black;
}

img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    border-bottom: white 1px solid;
}

@media screen and (orientation: portrait){
    img, video {
        width: 100%;
    }
    body {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media screen and (orientation: landscape){
    img, video {
        width: 100%;
    }
    body {
        padding-left: 15%;
        padding-right: 15%;
    }
}