body {
    background: #FFFAFD;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

section {
    padding-top: 5%;
    padding-bottom: 5%;
}

a {
    font-variant: small-caps;
}

p {
    text-align: justify;
}

h2 {
 text-align: center;
}

img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home-title {
    font-variant: small-caps;
    margin-left: 10%;
    margin-right: 10%;
    height: 5vh;
    text-align: center;
}

#home-nav{
    list-style-type: none;
    height: 80vh;
}
#home-nav a{
    display: block;
    background: #A5FDC1;
    color: black;
    font-size: large;
    height: 25%;
    margin:0.5em;
}
#home-nav a:hover{
    background: black;
    color: #A5FDC1;
}

@media screen and (orientation: portrait){
    img, video {
        width: 100%;
    }
    article {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (orientation: landscape){
    img, video {
        width: 90%;
    }
    article {
        padding-left: 10%;
        padding-right: 10%;
    }
    #home-nav {
        margin-left: 10%;
        margin-right: 10%;
    }
}

